# python specific
Pipfile
Pipfile.lock
*/.pytest_cache/*
*/__pycache__/*
*/test/__pycache__/*
*/webapp-flask/*
*/webapp-flask.egg-info/*

# vscode
.vscode/*
*.code-workspace

# Other
*/credentials.txt
